@page "/account"
@using static BramrSite.Models.EditMode 

<div id="background">
    <div id="account-content">
        <div class="profile-header">
            <div class=profile-img>
                <img src="./img/profile.png" width="200" alt="">
            </div>
            <div class="profile-nav-info">
                <h3 class="user-name">insert name</h3>
                <div class="address">
                    <p class="city">insert city,</p>
                    <span class="country">insert country</span>
                </div>
            </div>
            <div class="profile-option">
                <div class="notification">
                    <i class="fa fa-bell"></i>
                    <span class="alert-message">1</span>
                </div>
            </div>
        </div>
        <div class="main-body">
            <div class="left-side">
                <div class="profile-side">
                    <p class="user-phone">
                        <i class="fa fa-phone">insert phone number</i>
                    </p>
                    <p class="user-mail">
                        <i class="fa fa-envelope">insert mail address</i>
                    </p>
                    <div class="user-bio">
                        <h3>Bio</h3>
                        <p class="bio">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora modi eligendi magni? Cupiditate atque mollitia reiciendis eaque quia placeat voluptas?
                        </p>
                    </div>
                    <div class="profile-btn">
                        <button class="questionbtn">
                            <i class="fa fa-comment"></i> Question
                        </button>
                        <button class="createbtn">
                            <i class="fa fa-plus"></i> Create
                        </button>
                    </div>
                </div>
            </div>
            <div class="right-side">
                <div class="nav">
                    <ul>
                        <li @onclick="(() => Tab(0))" class="user-CV active">CV-templates</li>
                        <li @onclick="(() => Tab(1))" class="user-Portfolio">Portfolio-templates</li>
                        <li @onclick="(() => Tab(2))" class="user-Notepad">Notepad</li>
                    </ul>
                </div>
                <div class="profile-body">
                    <div class="profile-CV tab">
                        <h1>Your CV-projects</h1>
                        <h6>
                            Here you can start with editing your very own CV. <br>
                            Don't forget to wacht the instruction video to learn how to use the editor.
                        </h6>
                    </div>
                    <div class="profile-Portfolio tab">
                        <h1>Your Portfolio-projects</h1>
                        <h6>
                            Here you can start with editing your very own Portfolio. <br>
                            Don't forget to wacht the instruction video to learn how to use the editor.
                        </h6>
                    </div>
                    <div class="profile-Notepad tab">
                        <h1>Notepad</h1>
                        <h6>Here you can write down your to-do list</h6>

                        <div class="row">

                            <div class="col-6">
                                <div @onclick="(() => AddNote())" class="btn btn-block btn-primary note-btn">
                                    New note
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="btn btn-block btn-danger note-btn">
                                    Delete all note's
                                </div>
                            </div>

                        </div>

                        <div class="container pt-4">

                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var note in Notes)
                                    {

                                    <tr>
                                        @if (note.EditMode == Edit)
                                        {
                                            <td>
                                                <div class="row">

                                                    <div class="col-6">
                                                        <textarea class="note-font-edit" placeholder="Empty note" @bind-value="@note.Text" @bind-value:event="oninput"></textarea>
                                                    </div>

                                                    <div class="col-6">
                                                        <div class="btn btn-block btn-success" @onclick="(() => { note.EditMode = Models.EditMode.Done; })">Done</div>
                                                        <div class="btn btn-block btn-danger">Delete</div>
                                                    </div>

                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <div class="row">

                                                    <div class="col-6">
                                                        <span class="note-font">@note.Text</span>
                                                    </div>

                                                    <div class="col-6">
                                                        <div class="btn btn-block btn-info" @onclick="(() => { note.EditMode = Models.EditMode.Edit; })">Edit</div>
                                                        <div class="btn btn-block btn-danger" @onclick="(() => { RemoveNote(note);  })">Delete</div>
                                                    </div>

                                                </div>
                                            </td>
                                        }
                                    </tr>
                                    }
                                </tbody>
                            </table>

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
