@page "/password"
@attribute [Authorize]

<b>Current password: </b>
<input type="text" @oninput="(e) => { CurrentPassword = e.Value.ToString(); CheckInput(); }" />
<br />
<b>New password: </b>
<input type="text" @oninput="(e) => { NewPassword = e.Value.ToString(); CheckInput(); }" />
<br />
<b>Repeat new password: </b>
<input type="text" @oninput="(e) => { RepeatNewPassword = e.Value.ToString(); CheckInput(); }" />
<br />
<p style="color:red">@ErrorMessage</p> 
<br />
<button @onclick="() => { Save(); }" disabled="@Disabled">Save</button>