@page "/cv"

<div class="resume">
    <div class="resume-left">
        <div class="resume-profile">
            <img src="./Images/kaas-large.jpg" alt="">
        </div>
        <div class="resume-content">
            <div class="resume-item resume-info">
                <div class="title">
                    <p class="bold">Insert Name</p>
                    <p class="regular">Insert job</p>
                </div>
                <ul>
                    <li>
                        <div class="icon"><i class="fas fa-map-signs"></i></div>
                        <div class="data">
                            street, city <br /> Country
                        </div>
                    </li>
                    <li>
                        <div class="icon"><i class="fas fa-mobile-alt"></i></div>
                        <div class="data">
                            phone number
                        </div>
                    </li>
                    <li>
                        <div class="icon"><i class="fas fa-envelope"></i></div>
                        <div class="data">
                            mail-address
                        </div>
                    </li>
                    <li>
                        <div class="icon"><i class="fab fa-weebly"></i></div>
                        <div class="data">
                            personal website
                        </div>
                    </li>
                </ul>
            </div>
            <div class="resume-item resume-skills">
                <div class="title">
                    <p class="bold">Skills</p>
                </div>
                <ul>
                    <li>
                        <div class="skill-name">
                            Skill 1
                        </div>
                        <div class="skill-progress">
                            <span style="width: 50%;"></span>
                        </div>
                        <div class="skill-per">50%</div>
                    </li>
                    <li>
                        <div class="skill-name">
                            Skill 2
                        </div>
                        <div class="skill-progress">
                            <span style="width: 50%;"></span>
                        </div>
                        <div class="skill-per">50%</div>
                    </li>
                    <li>
                        <div class="skill-name">
                            Skill 3
                        </div>
                        <div class="skill-progress">
                            <span style="width: 50%;"></span>
                        </div>
                        <div class="skill-per">50%</div>
                    </li>
                    <li>
                        <div class="skill-name">
                            Skill 4
                        </div>
                        <div class="skill-progress">
                            <span style="width: 50%;"></span>
                        </div>
                        <div class="skill-per">50%</div>
                    </li>

                </ul>
            </div>
            <div class="resume-item resume-social">
                <div class="title">
                    <p class="bold">Social</p>
                </div>
                <ul>
                    <li>
                        <div class="icon"><i class="fab fa-facebook-square"></i></div>
                        <div class="data">
                            <p class="semi-bold">Facebook</p>
                            <p>Insert accountname</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><i class="fab fa-twitter-square"></i></div>
                        <div class="data">
                            <p class="semi-bold">Twitter</p>
                            <p>Insert accountname</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><i class="fab fa-linkedin"></i></div>
                        <div class="data">
                            <p class="semi-bold">LinkedIn</p>
                            <p>Insert accountname</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><i class="fab fa-pinterest-square"></i></div>
                        <div class="data">
                            <p class="semi-bold">Pinterest</p>
                            <p>Insert accountname</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="resume-right">
        <div class="resume-item resume-about">
            <div class="title">
                <p class="bold">About me</p>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis suscipit, vitae debitis quod, quibusdam odio eum possimus eveniet pariatur cumque totam nisi, tempora atque temporibus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum facilis cumque a nisi nobis at ut et, iure officia dolore, hic, quae deserunt doloribus repellendus.</p>
        </div>
        <div class="resume-item resume-work">
            <div class="title">
                <p class="bold">Work experience</p>
            </div>
            <ul>
                <li>
                    <div class="date">0000 - 0000</div>
                    <div class="info">
                        <p class=semi-bold> Insert job titel </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione maiores qui porro illum alias magni?</p>
                    </div>
                </li>
                <li>
                    <div class="date">0000 - 0000</div>
                    <div class="info">
                        <p class=semi-bold> Insert job titel </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione maiores qui porro illum alias magni?</p>
                    </div>
                </li>
                <li>
                    <div class="date">0000 - present</div>
                    <div class="info">
                        <p class=semi-bold> Insert job titel </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione maiores qui porro illum alias magni?</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="resume-item resume-education">
            <div class="title">
                <p class="bold">Edcuation</p>
            </div>
            <ul>
                <li>
                    <div class="date">0000 - 0000</div>
                    <div class="info">
                        <p class=semi-bold> Insert school</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione maiores qui porro illum alias magni?</p>
                    </div>
                </li>
                <li>
                    <div class="date">0000 - 0000</div>
                    <div class="info">
                        <p class=semi-bold> Insert school </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione maiores qui porro illum alias magni?</p>
                    </div>
                </li>
                <li>
                    <div class="date">0000 - present</div>
                    <div class="info">
                        <p class=semi-bold> Insert school </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione maiores qui porro illum alias magni?</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="resume-item resume-hobby">
            <div class="title">
                <p class="bold">Hobby</p>
            </div>
            <ul>
                <li><p>Insert Hobby 1</p></li>
                <li><p>Insert Hobby 2</p></li>
                <li><p>Insert Hobby 3</p></li>
                <li><p>Insert Hobby 4</p></li>
            </ul>
        </div>
    </div>
</div>

<div id="editor" class="modal draggable-item">
    <span class="close">&times;</span>
    <div class="toolbar">
        <h1>Text editor tool</h1>
        <div id="output">
            <textarea name="comment" form="usrform" cols="60" rows="8">Enter text here...</textarea>
        </div>
        <div class="tool-list-text">
            <li class="tool">
                <button type="button" href="#" class="tool-btn">
                    <i class="fas fa-align-left"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" href="#" class="tool-btn">
                    <i class="fas fa-align-center"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" href="#" class="tool-btn">
                    <i class="fas fa-align-right"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" href="#" class="tool-btn">
                    <i class="fas fa-bold"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" href="#" class="tool-btn">
                    <i class="fas fa-italic"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" href="#" class="tool-btn">
                    <i class="fas fa-underline"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" href="#" class="tool-btn">
                    <i class="fas fa-strikethrough"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" href="#" class="tool-btn">
                    <i class="fas fa-moon"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" href="#" class="tool-btn">
                    <i class="fas fa-undo"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" href="#" class="tool-btn">
                    <i class="fas fa-redo"></i>
                </button>
            </li>
        </div>

        <h1>Font tool</h1>
        <div class="tool-list-font">
            <li class="tool">
                <select name="font" id="fontkiezen">
                    <option value="font1">Font1</option>
                    <option value="font2">Font2</option>
                    <option value="font3">Font3</option>
                    <option value="font4">Font4</option>
                    <option value="font5">Font5</option>
                    <option value="font6">Font6</option>
                    <option value="font7">Font7</option>
                    <option value="font8">Font8</option>
                    <option value="font9">Font9</option>
                    <option value="font10">Font10</option>
                </select>
            </li>
            <liv>
                <h3>Font size</h3>
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </liv>
            <li>
                <h3>Font weight</h3>
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </li>
        </div>

        <h1>Images upload tool</h1>
        <div class="tool-list-img-upload">
            <li class="tool">
                <form action="/action_page.php">
                    <input type="file" id="myFile" name="filename">
                    <input type="submit">
                </form>
            </li>
        </div>

        <h1>Images editor tool</h1>
        <div class="tool-list-img-edit">
            <li class="tool">
                <button type="button" href="#" class="tool-btn">
                    <i class="fas fa-border-all"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" href="#" class="tool-btn">
                    <i class="fas fa-paint-brush"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" href="#" class="tool-btn">
                    <i class="far fa-sun"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" href="#" class="tool-btn">
                    <i class="fas fa-border-none"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" href="#" class="tool-btn">
                    <i class="far fa-circle"></i>
                </button>
            </li>
        </div>

        <h1>Color editor tool</h1>
        <div class="tool-list-color">
            <li class="tool">
                <h3>Font color</h3>
                <input name="Color Picker" type="color" />
            </li>
            <li class="tool">
                <h3>Background color</h3>
                <input name="Color Picker" type="color" />
            </li>
        </div>
    </div>
</div>


<button id="myBtn">
    <i class="fas fa-keyboard"></i>
</button>

<button id="myBtn-back">
    <a href="index.html"><i class="fas fa-arrow-left"></i></a>
</button>

<button id="myBtn-save">
    <a href="index.html"><i class="fas fa-save"></i></a>
</button>
