@page "/cv"
@using BramrSite.Classes
@using BramrSite.Models
@using BramrSite.Pages.Components
@attribute [Authorize]

@*<head>
    <meta charset="utf-8" />
    <title>BRAMR - CV</title>
    <link rel="stylesheet" href="css/StylesheetCV.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="css/grid.css">
</head>*@

    <div class="PopUp">
        <div class="Icon">
            <b>!</b>
        </div>
        <div class="Titel">
            Duidelijk?
        </div>
        <div class="Uitleg">
            1. Start met je <b>foto</b> en <b>persoonlijke gegevens</b>. <br>
            2. Vul je <b>schoolervaringen</b> en <b>werkervaringen</b> nauwkeurig in. <br>
            3. Beschrijf de <b>skills</b> waar jij het trots op bent. <br>
            4. Geef aan waar jouw <b>interesses</b> liggen. <br>
            5. Sla je <b>CV</b> op en je bent klaar voor je solicitatie! <br>
        </div>
        <div class="SluitAf-btn">
            <button id="SluitAf-PopUp-btn">
                Terug!
            </button>
        </div>
    </div>

    <div class="mastergrids">
        <div class="navgrid">
            <div class="center">
                <button id="Open-PopUp-btn">
                    <i class="fas fa-question"></i>
                </button>
            </div>
            <div class="menu-wrap">
                <input type="checkbox" class="toggler">
                <div class="hamburger"><div></div></div>
                <div class="menu">
                    <div>
                        <div>
                            <ul>
                                <li><a href="index.html">Home</a> </li>
                                <li><a href="inlogpagina.html">Inloggen</a> </li>
                                <li><a href="Templatepagina.html">Templates</a> </li>
                                <li><a href="CVTemplate.html">CV-template</a> </li>
                                <li><a href="PortfolioTemplate.html">Portfolio-template</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fotogrid">
            <div class='nestedfoto' @onclick="() => { Selection(false, 0); }">
                <ImageComponent CurrentDesignElement="AllImageElements[0]" />
            </div>
        </div>
        <div class="maingrid">
            <div class="nestedgrid">
                <div id="pgegevens1">
                    <div id="naam">
                        <p>Naam</p>
                        <i class="fa fa-user fa-lg-fw"></i>
                    </div>
                    <div id="adres">
                        <p>Adres</p>
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div id="postcode">
                        <p>Postcode</p>
                        <i class="fa fa-envelope fa-lg-fw"></i>
                    </div>
                    <div id="woonplaats">
                        <p>Woonplaats</p>
                        <i class="fas fa-city"></i>
                    </div>
                    <div id="telefoon">
                        <p>Telefoon</p>
                        <i class="fa fa-phone fa-lg-fw"></i>
                    </div>
                </div>
                <div id="textinput1">
                    <div id="naaminput">
                        <TextComponent CurrentDesignElement="AllTextElements[0]" TagType="p" CvCallback="SelectionCallback" Index="0"/>
                    </div>
                    <div id="adresinput">
                        <TextComponent CurrentDesignElement="AllTextElements[1]" TagType="p" CvCallback="SelectionCallback" Index="1"/>
                    </div>
                    <div id="postcodeinput">
                        <TextComponent CurrentDesignElement="AllTextElements[2]" TagType="p" CvCallback="SelectionCallback" Index="2"/>
                    </div>
                    <div id="woonplaatsinput">
                        <TextComponent CurrentDesignElement="AllTextElements[3]" TagType="p" CvCallback="SelectionCallback" Index="3"/>
                    </div>
                    <div id="telefooninput">
                        <TextComponent CurrentDesignElement="AllTextElements[4]" TagType="p" CvCallback="SelectionCallback" Index="4"/>
                    </div>
                </div>
                <div id="pgegevens2"><br>
                    <div id="email">
                        <p>
                            <i class="fas fa-at"></i>
                            Email
                        </p>
                    </div>
                    <div id="geboortedatum">
                        <p>
                            <i class="fas fa-birthday-cake"></i>
                            Geboortedatum
                        </p>
                    </div>
                    <div id="nationaliteit">
                        <p>
                            <i class="fas fa-globe-europe"></i>
                            Nationaliteit
                        </p>
                    </div>
                    <div id="rijbewijs">
                        <p>
                            <i class="fas fa-car"></i>
                            Rijbewijs
                        </p>
                    </div>
                    <div id="linkedIn">
                        <p>
                            <i class="fab fa-linkedin"></i>
                            LinkedIn
                        </p>
                    </div>
                </div>
                <div id="textinput2"><br>
                    <div id="emailinput">
                        <TextComponent CurrentDesignElement="AllTextElements[5]" TagType="p" CvCallback="SelectionCallback" Index="5"/>
                    </div>
                    <div id="geboortedatuminput">
                        <TextComponent CurrentDesignElement="AllTextElements[6]" TagType="p" CvCallback="SelectionCallback" Index="6"/>
                    </div>
                    <div id="nationaliteitinput">
                        <TextComponent CurrentDesignElement="AllTextElements[7]" TagType="p" CvCallback="SelectionCallback" Index="7"/>
                    </div>
                    <div id="rijbewijsinput">
                        <TextComponent CurrentDesignElement="AllTextElements[8]" TagType="p" CvCallback="SelectionCallback" Index="8"/>
                    </div>
                    <div id="linkedIninput">
                        <TextComponent CurrentDesignElement="AllTextElements[9]" TagType="p" CvCallback="SelectionCallback" Index="9"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="zijbalkgrid">
            <div class="nestedgridzijbalk">
                <div class="afbeeldinggrid">
                    <div class="gridceptionafbeelding">
                        <div id="afbeeldingkiezen">
                            <label for="afbeeldingkiezen">Kies een foto:</label>
                            <ImageUpload CurrentImage="@CurrentImageElement" CallBack="@CallBackMethod" IsCV="true" />
                            <button @onclick="() => { Save(); }">Save</button>
                        </div>
                        <div id="hyperlinktext">
                            <input type="text" placeholder="Type some text..." @oninput="async (e) => { CurrentTextElement.Text = e.Value.ToString(); await AddToDB(ChangeModel.Type.Text, e.Value.ToString());}" @bind-value="CurrentTextElement.Text" />
                        </div>
                        <div id="animatietext">

                        </div>
                        <div id="grootebtn">
                            <button class="buttonGroote" disabled="@UndoButton" @onclick="async() => { await Undo(); }">1</button>
                        </div>
                        <div id="opvullingbtn">
                            <button class="buttonOpvulling" disabled="@RedoButton" @onclick="async() => { await Redo(); }">2</button>
                        </div>
                        <div id="alphabtn">
                            <button class="buttonAlpha">3</button>
                        </div>
                        <div id="borderbtn">
                            <button class="buttonBorder">4</button>
                        </div>
                        <div id="borderradiusbtn">
                            <button class="buttonRadius">5</button>
                        </div>
                        <div id="animatiebtn">
                            <button class="buttonAnimatie">5</button>
                        </div>
                    </div>
                </div>
                <div class="lettertypegrid">
                    <div class="gridceptionlettertype">
                        <div id="fontkiezen">
                            <label for="font">Fonts</label>
                            <select name="font" id="fontkiezen">
                                <option value="font1">Font1</option>
                                <option value="font2">Font2</option>
                                <option value="font3">Font3</option>
                                <option value="font4">Font4</option>
                                <option value="font5">Font5</option>
                                <option value="font6">Font6</option>
                                <option value="font7">Font7</option>
                                <option value="font8">Font8</option>
                                <option value="font9">Font9</option>
                                <option value="font10">Font10</option>
                            </select>
                        </div>
                        <div id="fontgroote">
                            <div class="slideFontgroote">
                                <p>Font groote</p>
                                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                            </div>
                        </div>
                        <div id="fontweight">
                            <div class="slideFontweight">
                                <p>Font weight</p>
                                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                            </div>
                        </div>
                        <div id="boldbtn">
                            <button class="buttonBold" @onclick="async() => { CurrentTextElement.Bold = !CurrentTextElement.Bold; await AddToDB(ChangeModel.Type.Bold, CurrentTextElement.Bold.ToString()); }">1</button>
                        </div>
                        <div id="italicbtn">
                            <button class="buttonItalic" @onclick="async() => { CurrentTextElement.Italic = !CurrentTextElement.Italic; await AddToDB(ChangeModel.Type.Italic, CurrentTextElement.Italic.ToString()); }">2</button>
                        </div>
                        <div id="streeponderbtn">
                            <button class="buttonStreepOnder" @onclick="async() => { CurrentTextElement.Underlined = !CurrentTextElement.Underlined; await AddToDB(ChangeModel.Type.Underlined, CurrentTextElement.Underlined.ToString()); }">3</button>
                        </div>
                        <div id="streepbovenbtn">
                            <button class="buttonStreepBoven" @onclick="async() => { CurrentTextElement.StrikedThrough = !CurrentTextElement.StrikedThrough; await AddToDB(ChangeModel.Type.Strikedthrough, CurrentTextElement.StrikedThrough.ToString()); }">4</button>
                        </div>
                        <div id="textshadowbtn">
                            <button class="buttonTextShadow">6</button>
                        </div>
                        <div id="alinglinksbtn">
                            <button class="buttonAlingLinks" @onclick="async() => { CurrentTextElement.TextAllignment = TextModel.Allignment.Left; await AddToDB(ChangeModel.Type.TextAllignment, CurrentTextElement.TextAllignment.ToString()); }">7</button>
                        </div>
                        <div id="alingmiddenbtn">
                            <button class="buttonAlingMidden" @onclick="async() => { CurrentTextElement.TextAllignment = TextModel.Allignment.Center; await AddToDB(ChangeModel.Type.TextAllignment, CurrentTextElement.TextAllignment.ToString()); }">8</button>
                        </div>
                        <div id="alingrechtsbtn">
                            <button class="buttonAlingRechts" @onclick="async() => { CurrentTextElement.TextAllignment = TextModel.Allignment.Right; await AddToDB(ChangeModel.Type.TextAllignment, CurrentTextElement.TextAllignment.ToString()); }">9</button>
                        </div>
                    </div>
                </div>
                <div class="kleurgrid">
                    <div class="gridceptionkleur">
                        <div id="textkleurkiezen">
                            <label for="textkleurkiezen"> Kleur font</label>
                            <input name="Color Picker" type="color" @oninput="(e) => { CurrentTextElement.TextColor = e.Value.ToString(); }" @onchange="async(e) => { CurrentTextElement.TextColor = e.Value.ToString(); await AddToDB(ChangeModel.Type.TextColor, e.Value.ToString()); e.Value = CurrentTextElement.TextColor; }"/>
                        </div>
                        <div id="backgroundtext">
                            <label for="backgroundtext"> Kleur achtergrond</label>
                            <input name="Color Picker" type="color" @oninput="(e) => { CurrentTextElement.BackgroundColor = e.Value.ToString(); }" @onchange="async(e) => { CurrentTextElement.BackgroundColor = e.Value.ToString(); await AddToDB(ChangeModel.Type.BackgroundColor, e.Value.ToString()); e.Value = CurrentTextElement.BackgroundColor; }"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content1grid">
            <div id="contenttext1">
                <h1>Werkervaring</h1>
                <TextComponent CurrentDesignElement="AllTextElements[10]" TagType="p" CvCallback="SelectionCallback" Index="10"/>
            </div>
        </div>
        <div class="content2grid">
            <div id="contenttext2">
                <h2>Schoolervaring</h2>
                <TextComponent CurrentDesignElement="AllTextElements[11]" TagType="p" CvCallback="SelectionCallback" Index="11"/>
            </div>
        </div>
        <div class="content3grid">
            <div id="contenttext3">
                <h3>Skillset</h3>
                <TextComponent CurrentDesignElement="AllTextElements[12]" TagType="p" CvCallback="SelectionCallback" Index="12"/>
            </div>
        </div>
        <div class="interesses">
            <div id="interessesgrid">
                <h4>Interesses</h4>
                <TextComponent CurrentDesignElement="AllTextElements[13]" TagType="p" CvCallback="SelectionCallback" Index="13"/>
            </div>
        </div>
        <div class="motivatie">
            <div id="motivatiegrid">
                <h5>Motivatie</h5>
                <TextComponent CurrentDesignElement="AllTextElements[14]" TagType="p" CvCallback="SelectionCallback" Index="14"/>
            </div>
        </div>
    </div>