@page "/font"
@attribute [Authorize]
<h3>FontTest</h3>
<select @onchange="SelectGet">
    <option value="Montserrat">Montserrat</option>
    <option value="Open Sans Condensed">Open Sans Condensed</option>
    <option value="Rubik">Rubik</option>
    <option value="Quicksand">Quicksand</option>
    <option value="Teko">Teko</option>
    <option value="Exo 2">Exo 2</option>
    <option value="Maven Pro">Maven Pro</option>
    <option value="Sarabun">Sarabun</option>
    <option value="Old Standard TT">Old Standard TT</option>
    <option value="Marvel">Marvel</option>

</select>

<p class="FontTest" style="font-family:'@FontType' , @FontName;">Hallo</p>
<p></p>