@page "/home"

            <li><a href="#about">About</a></li>
            <li><a href="#meetTheTeam">Meet The Team</a></li>
        </ul>
    </nav>
    <section id="home">
    </section>
    <section id="about">
    </section>
    <section id="meetTheTeam">
    </section>

</div>
        <input type="checkbox" id="show">
        <label for="show" class="popUp-btn-inlog">Inloggen</label>
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                    <DataAnnotationsValidator />
                    <ValidationSummary Model="Model" />

                    <h1>Registreer via:</h1>
                    <div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <span>Of maak je eigen BRAMR-account aan</span>
                    <input type="email" @bind-value="Model.Email" placeholder="Emailadres" />
                    <input type="text" @bind-value="Model.UserName" placeholder="Username" />
                    <section>
                        <p>@SignUpMessage</p>
                    </section>
                    <section>
                        <p>Wij generen een wachtwoord voor u :-)</p>
                    </section>
                    @if (Disabled)
                    {
                        <button id="signUp-panel" class="btn btn-lg btn-block btn-primary m-auto" disabled="@Disabled" type="submit">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    }
                    else
                    {
                        <button id="signUp-panel" type="submit">Sign up!</button>
                    }
                </EditForm>
            </div>
            <div class="form-container sign-in-container">
                <EditForm Model="Model" OnValidSubmit="SignInSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary Model="Model" />
                    <h1>Log in via:</h1>
                    <div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <span>of gebruik je eigen BRAMR-account</span>
                    <input type="email" @bind-value="Model.Email" placeholder="Emailadres" />
                    <input type="password" @bind-value="Model.Password" placeholder="Wachtwoord" />
                    <section>
                        <p>@SignInMessage</p>
                    </section>
                    <a href="#">Wachtwoord vergeten?</a>
                    @if (Disabled)
                    {
                        <button id="signIn-panel" class="btn btn-lg btn-block btn-primary m-auto" disabled="@Disabled" type="submit">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    }
                    else
                    {
                        <button id="signIn-panel" type="submit">Log in!</button>
                    }
                </EditForm>
            </div>
            <div class="overlay-container">
                <label for="show" class="close-btn">&times;</label>
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Klaar om BRAMR te gebruiken?</h1>
                        <p>Vul je persoonlijke gegevens in en start met het maken van je eigen online CV of Portfolio.</p>
                        <button class="ghost" id="signIn">Log in</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hallo, bezoeker! Nog geen account?</h1>
                        <p> Registreer je bij BRAMR door op de onderstaande button te klikken.</p>
                        <button class="ghost" id="signUp">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <div>
                    <div>
                        <ul>
                            <li><a href="index.html">Home</a> </li>
                            <li><a href="inlogpagina.html">Inloggen</a> </li>
                            <li><a href="Templatepagina.html">Templates</a> </li>
                            <li><a href="CVTemplate.html">CV-template</a> </li>
                            <li><a href="PortfolioTemplate.html">Portfolio-template</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

