@page "/"
@page "/index"

@attribute [Authorize]

<h3>Index</h3>

<html>
<head>
    <style type=''text/css''>
        div {
            color: red;
        }

        .blue {
            background-color: gray;
        }

    </style>
</head>
<body>
    <img  style=""/>
    <div class="blue">I should be blue</div>
</body>
</html>

@code {

}
