@page "/login/{ReturnUrl}"
@page "/login"

<EditForm Model="Model" OnValidSubmit="@(async () => await OnSubmit())">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container">

        <div class="w-75 h-75 mt-5 rounded border">
            <div class="form-group w-50 m-auto">
                <input type="text" class="form-control" placeholder="Email" @bind-value="Model.Email" />
            </div>

            <div class="form-group w-50 m-auto">
                <input type="password" class="form-control" placeholder="password" @bind-value="Model.Password" />
            </div>

            <div class="w-50 m-auto">

                @if (Disabled)
                {
                <button class="btn btn-lg btn-block btn-primary m-auto" disabled="@Disabled" type="submit">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>  
                }
                else
                {
                    <button class="btn btn-lg btn-block btn-primary m-auto" type="submit">Login</button>
                }
            </div>
        </div>
    </div>
    &nbsp;
    @Message
</EditForm>