@page "/login/{ReturnUrl}"
@page "/login"

<div id="bg" class="container-fluid">
    <div  class="form-container-login w-50 m-auto pb-5">
        <div id="login-form">
            <EditForm Model="Model" OnValidSubmit="SignInSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary Model="Model" />
                <h1>Log in:</h1>
                <br />
                <input type="email" @bind-value="Model.Email" placeholder="Email" />
                <input type="password" @bind-value="Model.Password" placeholder="Password" />
                <section>
                    <p>@SignInMessage</p>
                </section>
                <div class="m-auto text-center">
                    <a href="#">Forgot your password?</a>
                    <br />
                    <a href="home">Don't have an account yet?</a>
                </div>
                <div class="mt-1 mb-1">
                    @if (Disabled)
                    {
                        <button id="signIn-panel" class="btn btn-lg btn-block btn-primary m-auto" disabled="@Disabled" type="submit">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    }
                    else
                    {
                        <button id="signIn-panel" class="btn btn-lg btn-block btn-primary m-auto" type="submit">Log in!</button>
                    }
                </div>
            </EditForm>
        </div>
    </div>
</div>