<div id="content" class="text-center pt-5 mt-5">
    <h1>'@Url' Kan helaas niet worden gevonden!</h1>
    <br />
    <h2>Over <span id="countdown" style="color:blue"> 10 </span> secondes wordt u naar home pagina gestuurd</h2>
</div>