
<div id="content" class="text-center pt-5 mt-5">
    <h1 style="color:white">'@Url' Cannot be found!</h1>
    <br />
    <h2 style="color:white">In <span id="countdown" style="color: rgb(0, 207, 255)"> @count </span> seconds you will be redirected to the home page.</h2>
</div>

