<h3>Register</h3>

@page "/register"

<p>
    <input @bind="Email" />
    <input @bind="Password" />
</p>
<button disabled="@Disabled" @onclick="@(async () => await btnPost_Click())">Create user</button>
<p>@response</p>


