@page "/wachtwoord/vergeten/"
@ErrorMessage
<b>Email: </b>
<input @bind="Email" type="email" />
<b>Nieuw Wachtwoord: </b>
<input type="password" @oninput="(e) => { NewPassword = e.Value.ToString(); CheckInput(); }" />
<br />
<b>bevestig nieuw wachtwoord: </b>
<input type="password" @oninput="(e) => { ConfirmPassword = e.Value.ToString(); CheckInput(); }" />

<button disabled="@Disabled" @onclick="clickPost_btn">Verander wachtwoord</button>