@page "/password/recovery/"



<html>

<head>
    <style>
        .tekst {
            color: white;
            text-align: center;
            margin-top: 10px;
        }

        .message {
            color: white;
            text-align: center;
            margin-top: 10px;
        }

        .invul {
            max-width: 50%;
            max-height: 20%;
            margin-left: 45%;
        }

        .dif {
            margin-top: 5%;
        }

        .button1 {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            background-color: gray;
            border: none;
            color: white;
            padding: 12px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            max-width: 50%;
            max-height: 20%;
            margin-left: 45%;
            margin-top: 20px;

        }

        .disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
    </style>
</head>
<body>
    @ErrorMessage
    <p class="tekst">Email: </p>
    <input class="invul" @bind="Email" type="email" />
    <p class="tekst">New Password: </p>
    <input class="invul"  type="password" @oninput="(e) => { NewPassword = e.Value.ToString(); CheckInput(); }" />
    <br />
    <p class="tekst">Confirm Password: </p>
    <input class="invul" type="password" @oninput="(e) => { ConfirmPassword = e.Value.ToString(); CheckInput(); }" />
    <br />
    <button class="button1" disabled="@Disabled" @onclick="clickPost_btn">Change Password</button>
</body>
</html>