@inherits LayoutComponentBase
@inject BramrSite.Auth.ITokenHandler tokenhandler
@inject ApiService api
@inject NavigationManager navigation

    <AuthorizeView>
        <Authorized>
            <div class="topnav">
            <NavLink class="fixed-top" style="float:right;" href="#" @onclick="Logout">
                <span>Uitloggen</span>
            </NavLink>
        </div>
            @Body
        </Authorized>
        <NotAuthorized>
            @Body
        </NotAuthorized>
    </AuthorizeView>
@code{
    private async void Logout()
    {
        await tokenhandler.UpdateAutenticationState(string.Empty);
        navigation.NavigateTo("/", false);
    }
}