.menu-wrap-CV{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap-CV .toggler-CV{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

    .menu-wrap-CV .hamburger-CV {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 20px;
        height: 7px;
        padding: 15px 10px;
        background: linear-gradient(to right, rgb(6, 255, 248), rgb(0, 207, 255));
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.menu-wrap-CV .hamburger-CV > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.menu-wrap-CV .hamburger-CV > div:before,
.menu-wrap-CV .hamburger-CV > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -8px;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.menu-wrap-CV .hamburger-CV > div:after {
    top: 8px;
}

.menu-wrap-CV .toggler-CV:checked + .hamburger-CV > div {
transform: rotate(135deg);
}

.menu-wrap-CV .toggler-CV:checked + .hamburger-CV > div:before,
.menu-wrap-CV .toggler-CV:checked + .hamburger-CV > div:after {
    top: 0;
    transform: rotate(90deg);
}

.menu-wrap-CV .toggler-CV:checked:hover + .hamburger-CV > div {
    transform: rotate(255deg);
}

.menu-wrap-CV .menu-CV {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap-CV .menu-CV > div {
    background: rgb(17, 17, 22);
    opacity: 75%;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap-CV .menu-CV > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}    

.menu-wrap-CV .menu-CV > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 2rem;
    padding: 1.5rem;
}

.menu-wrap-CV .menu-CV > div > div > ul > li > a{
    color: rgb(255, 255, 255);
    font-size: 25px;
    letter-spacing: 5px;
    text-decoration: none;
    transition: color 0.4 ease;
}

.menu-wrap-CV .toggler-CV:checked ~ .menu-CV {
    visibility: visible;
}

.menu-wrap-CV .toggler-CV:checked ~ .menu-CV > div {
    transform: scale(1);
    transition-duration: 0.75s;
}

.menu-wrap-CV .toggler-CV:checked ~ .menu-CV > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}
