/* PERSOONLIJKE GEGEVENS */

.nestedgrid{
    position: relative;
}

#naam, #adres, #postcode, #woonplaats, #telefoon, #email, #geboortedatum, #nationaliteit, #rijbewijs, #linkedIn{
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;
}

/* OVERIGE TEKSTVLAKKEN */

.contentgrid1, .contentgrid2, .contentgrid3, .interesses, .motivatie{
    position: relative;
}

#contenttext1 p, #contenttext2 p, #contenttext3 p, #interessesgrid p, #motivatiegrid p{
    position: relative;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

#contenttext1 h1, #contenttext2 h2, #contenttext3 h3, #interessesgrid h4, #motivatiegrid h5{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 12px;
}

/* OPMAAK GRID */

.kleurgrid-titel, .afbeeldinggrid-titel, .lettertypegrid-titel {
    font-size: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background: linear-gradient(to right, rgb(6, 255, 248), rgb(0, 207, 255));
}

/* OPENEN EN SLUITEN EDITOR */

.kleurgrid-sluit a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.kleurgrid-open {
    text-decoration: none;
    padding: 1rem;
    background: linear-gradient(to right, rgb(6, 255, 248), rgb(0, 207, 255));
    color: rgb(255, 255, 255);
}

.kleurgrid:target{
    display: block;
}

/* ZIJBALK BUTTONS */

.afbeeldinggrid, .gridceptionafbeelding, .lettertypegrid, .gridceptionlettertype, .kleurgrid, .gridceptionkleur{
    position: relative;
}

.buttonGroote, .buttonOpvulling, .buttonAlpha, .buttonBorder, .buttonRadius, .buttonAnimatie {
    position: relative;
    left: 10px;
    top: 5px;
    background:linear-gradient(to right, rgb(6, 255, 248), rgb(0, 207, 255));
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, .25);
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
}

.buttonBold, .buttonItalic, .buttonStreepOnder, .buttonStreepBoven, .buttonTextShadow,
.buttonAlingRechts, .buttonAlingLinks, .buttonAlingMidden {
    position: relative;
    left: 10px;
    top: 5px;
    background: linear-gradient(to right, rgb(6, 255, 248), rgb(0, 207, 255));
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, .25);
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
}

/* ZIJBALK SELECTED INDEXEN */

#fontkiezen, #fontgroote, #fontweight, #textkleurkiezen, #backgroundtext, #afbeeldingkiezen, #hyperlinktext p {
    position: relative;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, .25);
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#fileselector{
    position: relative;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

/* ZIJBALK SHOWEN */

.dropbtn-zijbalk {
    position: fixed;
    left: 48px;
    padding: 15px 10px;
    width: 20px;
    height: 7px;
    border: 1px solid white;
    background: linear-gradient(to right, rgb(6, 255, 248), rgb(0, 207, 255));
    color: rgb(255, 255, 255);
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    text-align: center;
    box-sizing: initial;
}

.dropdown-zijbalk {
    display: inline-block;
    position: fixed;
}

.dropdown-content-zijbalk {
    display: none;
    position: absolute;
    left: 48px;
    top: 45px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-zijbalk a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
}
      
.dropdown-content-zijbalk a:hover {
     background-color: #ddd;
}

.dropdown-zijbalk:hover .dropdown-content-zijbalk {
    display: block;
}

.dropdown-zijbalk:hover .dropbtn-zijbalk {
    background-color: #3e8e41;
}

/* DARK-MODE */

.darkmode-layer, .darkmode-toggle { 
    z-index: 500;
}

